.nav-size{
    height: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
}

body{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;

}

.p-default {
    padding: 160px 220px 60px 220px;
}

.px-default {
    padding-left: 220px;
    padding-right: 220px;
}

.pt-100{
    padding-top: 100px;
}

.button{
    width: 95px;
    height: 32px;
}


.col-80{
    width: 80%;
}

.sm-img{
    width: 470px;
    height: 300px;
}

.button2{
    width: 58px;
    height: 32px;
}
